
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */


  


#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
max-width:1140px;
margin:auto;
display:flex;
flex-direction: column;  
align-items: center;
}

#site-main p{
  width:750px;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  /* background-color:green; */
  flex-wrap: wrap;

}

.filter-container {
  display:flex;
  flex-direction: column;
  min-width:200px;
  justify-content: left;
}

.products-container{
  display: flex;
  flex-direction: column;
  /* background-color:red; */
  max-width:1000px;
}
.product-card {
  width:260px;
  height:450px;
  margin:20px;
}


@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/*Navbar*/

.img_portada img{
  width:1140px;
}

.header{
display:flex;
flex-direction: column;
max-width:1140px;
margin:auto;
}

.navbar-container {
  display:flex;
  flex-direction: row;
  height:60px;
}

.navbar-container li{
  margin-right:90px;}

.navbar-container img {
  width: 100%;
  padding-top:15px;

}

.navbar-container a{
  width:125px;
}


.menu-options-container{
  display:flex;
  width:100%;
  list-style-type: none;
  justify-content: left;


}

.filter-form {
  padding:7px;
}


/* ---- section ---- */

